.footer{
    height: auto;
    background: aqua;
    border-top: 2px solid darkblue;
    display: flex; 
    padding: 15px; 
    justify-content: space-evenly;  
}

.footer li{
    list-style: none;
    padding: 5px;
       
}

.footer a{
    text-decoration: none;
    color: darkblue;
    padding: 3px;
}
.social{
    width: 15%;
    height: auto;       
}

.so{
    height: 40%;
    align-items: center;    
}

.ft_home{
    text-align: center;
}


