
.h_img{
    display: flex;
    flex-direction: column;
}

.label, .label2{
    font-size: 5rem;
    font-weight: bold;
    position: absolute;
    top: 2em;
    box-shadow: 0 0 10px black;
    
    
}

.label2{
    top: 11em;
}

.label a, .label2 a{
    text-decoration: none;
    color: blue;
}


.card{
    display: none;
}
.serm_lg{
    padding-top: 90px;
    height: 40%;
    width: 100%;
}

.img_ent{
    height: 100%;
    width: 100%;
    margin-bottom: 20px;
}



.activity{
    margin-top: 140px;
    display: flex;
    flex-wrap: wrap;
   

}

.request{
    display: flex;
}



.serm_1{
    margin: 0;
    height: 40%;
    width: 100%;
}

.serm{
    height: 250px;
    width: 250px;
    padding: 28px;
    display: none;
    
        
}

.head h2{
    position: absolute;
    margin-left: 40px;
}

p{
    font-weight: bold;
    font-style: italic;
    
    
}

p div{
    margin-left: 40px;
    text-align: center;
}

.serm_info{
    margin-top: 0px;
    margin-left: 40px;

}


.band{
    margin: 0px;
    padding: 0px;
    width: 100%
}


.contact img{
    height: 250px;
    width: 250px; 
    padding: 20px;
    
}

.event{
    height: 300px;
    width: 100%;
    background-color: lightblue;
    display: flex;
    text-align: center;
    justify-content: space-evenly;  
    color: blue;  
}

.ttable{
    display: none;
}

.event h4{
    background: rgb(185, 185, 53);
    height: 25px;
    color: azure;

}

.service{
    margin: 30px;
    text-align: justify;
}


