main{
    padding-top: 6rem;
    
}
.home{
    display: flex;
    margin: 5px;
}
.label{
    position: absolute;
    left: 42%;
}
.label a, .label2 a{
    font-size: 3rem;
    font-weight: bold;
    text-decoration: none;
    color: blue;
    text-decoration-line: underline;
}
.label2{
    position: absolute;
    left: 42%;

}

.card-air, .card-req{
    margin: 6rem 1rem ;
    height: 20rem;
    width: 20%;

}

.serm{
    height: 100%;
    width: 100%;
   
    
}

.cover img{
    height: 300px;
    width: 120%;
    display: none;
    
}



.activity{
    margin-top: 140px;
    display: flex;
    flex-wrap: wrap;
   

}

.request{
    display: flex;
    margin: 5px;
}


.head h2{
    position: absolute;
    margin-left: 40px;
}

p{
    font-weight: bold;
    font-style: italic;
    
    
}

p div{
    margin-left: 40px;
    text-align: center;
}

.serm_info{
    margin-top: 0px;
    margin-left: 40px;

}


.band{
    margin: 0px;
    padding: 0px;
    width: 100%
}

.event{
    height: 300px;
    width: 100%;
    background-color: lightblue;
    display: flex;
    text-align: center;
    justify-content: space-evenly;  
    color: blue;  
}

.event h4{
    background: rgb(185, 185, 53);
    height: 25px;
    color: azure;

}


.service{
    margin: 30px;
    text-align: justify;
}

img > .serm_lg{
    width: 100%;

}
.min{
    width: 42.7rem;
}


