#header{
    font-size: 18px;
    color: yellow;
    text-align: left;
    font-style: italic;
    text-shadow: 5px 2px 5px blue;  
    display: flex; 
    flex-wrap: nowrap; 
    align-items: center;
    
}
.nav{
    background-color: aqua;
    height: 85px;
    width:auto;
    display: flex;
    align-items: center;
    border-bottom: 3px solid rgb(234, 238, 21);
    box-shadow: 0 0 20px gray;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.logo{
    height: 80px;
    border-radius: 70%;
    border: 3px solid rgb(247, 247, 121);
    box-shadow: 0px 0px 25px rgb(234, 238, 21);
    margin-top: 12px;
    cursor: pointer;
    margin: 0;
}

.name{
    margin-left: 7px;
}

.fn{
    position: absolute;
    right: 27%;
}

.man{
    display: flex;
    list-style: none; 
    justify-content: center;
    
}

.man li{
    padding: 15px;    
       
}

.man a{
    text-decoration: none;
    
}

.sub{
    list-style: none;
    padding: 10px;
    width: max-content;
    display: none;
    background-color: lightblue;
    position: absolute;
}

.sub li{
    padding: 0px;
    line-height: 30px;
    position: relative;
    text-align: left;
}

.sub a{
    margin-left: 0px;
    
}

.man li :hover{
    color: rgb(234, 238, 21);
    display: block;
}

.man li:hover .sub{
    display: block;
}

.search{
    position: absolute;
    right: 12%;
}

.input_search{
    width: 14rem;
    height: 30px;
    border-radius: 20px;
    border: none;
}
.input{
    position: absolute;
    right: 5px;
    height: 30px;
}

.socials{
    width: 10%;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 1%;
}

::placeholder{
    text-align: center;
}

.sit{
    height: 40px;
    padding: 5px;
    border-radius: 60px;

}


.manu-img{
    position: fixed;
    right: 5px;
    cursor: pointer;
    visibility: hidden;
}

.manu{
    height: 80px;
    width: 60px;
    margin: 0;    
    
}


